input ~ .icon-eye {
  position: absolute;
  transform: translateY(0%);
  right: 12rem;
}
.table-assignments h3{
   color: #cf2338;
   padding-top: 100px;
}
.table-assignments .btnClear{
  color: black;
}
.table-assignments .btnReload{
  color: rgb(62, 62, 221);
}
